# This file will be referred in init.mapphone.rc
#

on fs
    swapon_all /fstab.mapphone_umts
    
    # zRAM Configuration
    write /proc/sys/vm/swappiness 90
    write /proc/sys/vm/page-cluster 0

