# This file will be referred in init.mapphone.rc
#

service initswap /system/bin/logwrapper /system/bin/sh /tiffany/sh/initswap.sh
    class core
    user root
    oneshot

on fs
    swapon_all /fstab.mapphone_umts
    
    # zRAM Configuration
    write /proc/sys/vm/swappiness 90
    write /proc/sys/vm/page-cluster 0

on post-fs
    start initswap

on early-boot

    # Dalvik VM Configuration
    setprop dalvik.vm.execution-mode int:jit
    setprop dalvik.vm.verify-bytecode false
    setprop dalvik.vm.checkjni false
    setprop dalvik.vm.dexopt-flags v=n,o=a
    # Not sure which one works, will just declare both then :|
    setprop persist.sys.dalvik.multithread true
    setprop persist.sys.dalvik.hyperthreading true

    # Fine tune prop
    setprop video.accelerate.hw 1
    setprop debug.performance.tuning 1
    setprop wifi.supplicant_scan_interval=150

